@model IEnumerable<HTTPClientMVC.Models.MovimientoStock.MovimientoStockSummary>

@{
    ViewData["Title"] = "GetMovimientoSummary";
}

<h1>GetMovimientoSummary</h1>
<partial name="_Mensajes" />
@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Año</th>
                <th>Tipo de Movimiento</th>
                <th>Cantidad Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Ano</td>
                    <td>@item.TipoMovimiento</td>
                    <td>@item.CantidadTotal</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No hay datos disponibles.</p>
}